/* Form Styling */
.Form-Container {
  display: grid;
  grid-template-areas: 
  "idInput titleInput"
  "typeInput statusInput"
  "jobPreview jobPreview"
  "jobSubmit jobSubmit";
  grid-template-columns: 2fr 2fr;
  gap: 3px;
  background-color: antiquewhite;
  padding: 5px;
  margin: 5px 15%;
}

.Form-Container div {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Form-Container div.idInput {
    grid-area: idInput;
}

.Form-Container div.idInput input {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 2px 5px;
    width: 25%;
}

.Form-Container div.titleInput {
    grid-area: titleInput;
}

.Form-Container div.titleInput input {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 2px 5px;
    width: 50%;
}

.Form-Container div.idInput label, .Form-Container div.titleInput label{
    margin-right: 0.5rem;
}

.Form-Container div.typeInput {
    grid-area: typeInput;
}

.Form-Container div.typeInput div div {
    font-size: 1.5rem;
}

.Form-Container div.statusInput {
    grid-area: statusInput;
}

.Form-Container div.statusInput select {
    font-size: 1.5rem;
}

.Form-Container div.typeInput div, .Form-Container div.statusInput div {
    display: block;
}

.Form-Container div.jobPreview {
    grid-area: jobPreview;
}

.Form-Container div.jobSubmit {
    grid-area: jobSubmit;
}

.Form-Container div.jobSubmit button {
    font-size: xx-large;
}


/* Job Display section styling */
.Job-Display {
  display: grid;
  grid-template-areas: 
  "DisplayTitle DisplayTitle DisplayTitle DisplayTitle"
  "PendingJobsHead RunningJobsHead CompletedJobsHead StoppedJobsHead"
  "PendingJobs RunningJobs CompletedJobs StoppedJobs";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
  background-color: antiquewhite;
  padding: 5px;
  margin: 5px 15%;
}

.Job-Display div {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Job-Display div.Display-Head {
    grid-area: DisplayTitle;
}

.Job-Display div.Pending-Head {
    grid-area: PendingJobsHead;
}

.Job-Display div.Pending {
    grid-area: PendingJobs;
}

div.Pending div {
    display: block;
}

.Job-Display div.Running-Head {
    grid-area: RunningJobsHead;
}

.Job-Display div.Running {
    grid-area: RunningJobs;
    display: block;
}

div.Running div {
    display: block;
}

.Job-Display div.Complete-Head {
    grid-area: CompletedJobsHead;
}

.Job-Display div.Complete {
    grid-area: CompletedJobs;
    display: block;
}

div.Complete div {
    display: block;
}

.Job-Display div.Stopped-Head {
    grid-area: StoppedJobsHead;
}

.Job-Display div.Stopped {
    grid-area: StoppedJobs;
    display: block;
}

div.Stopped div {
    display: block;
}
