.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  border: solid;
}

.App-link {
  color: #61dafb;
}

.Component-Container {
  border: 3px solid antiquewhite;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Generic-button {
  margin-left:  0.5rem;
  margin-right: 0.5rem;
  font-size: x-large;
  color: #e6e6e6;
  border: 2px solid antiquewhite;
  border-radius: 5px;
  background-color: #155dfb;
  transition: 0.1s;
}

.Generic-button:hover {
  background-color: #2b7fff;
  box-shadow: 0.2rem 0.2rem black;
}

.Generic-button:active {
  background-color: #1447e6;
  transform: translate(2px 6px);
  box-shadow: none;
}

/* Navbar Styles */

.Nav-bar {
  display: flexbox;
  margin-top: 0.5rem;
}

.Nav-button {
  margin-left:  0.5rem;
  margin-right: 0.5rem;
  font-size: x-large;
  color: white;
  border: 2px solid antiquewhite;
  border-radius: 5px;
  background-color: #121842;
  transition: 0.1s;
}

.Nav-button:hover {
  background-color: #243684;
  box-shadow: 0.2rem 0.2rem black;
}

.Nav-button:active {
  transform: translate(2px 6px);
  box-shadow: none;
}

/* Module 2 styles */

.Profile-card {
  display: grid;
  grid-template-areas: 
  "header header"
  "skills skills"
  "image content";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: antiquewhite;
  padding: 5px;
  margin: 5px 15%;
}

@media (min-width: 992px) {
  .Profile-card {margin: 5px 25%;}
}

.Profile-card div {
  background-color: #282c34;
}

.Profile-card div.header {
  grid-area: header;
}

.Profile-card div.skills {
  grid-area: skills;
}

.Profile-card div.image {
  grid-area: image;
  display: grid;
  place-items: center;
  padding: 3px;
}

.Profile-card div.image img {
  width: 100%;
  border-radius: 10px;
}

.Profile-card div.content {
  grid-area: content;
  display: flex;
  align-items: center;
  text-align: left;
}

.Profile-card div.content div {
  display: block;
}

/* Module 3 styles */
